/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

:root {
    --page-background: ;
    --font-color: ;
    --header-background: ;
    --main-background: ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

/* Header */
.header-container{
    margin: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    padding: 2rem;
}

.header-btn, .main__beer-btn{
   width: 10rem;
   padding: 1rem;
   margin: 1rem;
}

/* Main */
main{
 display:flex;
 justify-content: center;
 margin-top: 1rem;
}

.main__beer-card-container{
    width: 30rem;
    height: 35rem;
    border: 5px solid black;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.16);
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-right: 1rem;
}

.main__beer-card-container h2 {
    text-align: center;
    margin: 1rem;
}

.main__beer-image {
    width: 20rem;
    height: 20rem;
    /* background-color: pink; */
    margin: 2rem auto 0 auto;
    object-fit: scale-down;
}

.main__beer-btn{
    width: 10rem;
    margin-top: 1rem;
 }

 .main__search-container {
    width: 30rem;
    height: 35rem;
    border: 5px solid black;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.16);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
 }

 .main__search-container ul {
    height: 30rem;
    width: 20rem;
    margin: 2rem;
    padding-bottom: 1rem;
 }
 li{
    list-style: none;
    margin-top: 1rem;

 }
 li button{
    /* border: none; */
    background: white
 }

 .hide{
    display: none;
 }
